*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*-----NAVBAR----*/
header {
    position: fixed;
    justify-content: center;
    text-align: center;
    padding: 15px;
    display: flex;
    height: 10vh;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}
.h-img img{
    height: 8vh;
    
}
.navbar ul{
    list-style: none;
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
}
ul li{
    display: inline-block;
    padding: 10px;

}
li a{
    color: black;
    text-decoration: none;
}
/* ----Main----- */
main {
    padding-top: 11vh;
}
.banner {
    display: flex;
    justify-content: center;
    background-color: #7c2727;
}
.left {
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 38px;  
    max-width: 350px;
    color: white;
    text-align: center;
    padding-top: 30px;
    width: 50%;
    height: 300px;
}
.left p {
    padding: 5px;
}
.right {
    width: 50%;
    padding-top: 30px;
    background-image: url(./img/gordon.jpg);
    /* background-attachment: fixed;
    background-position: 725px; */
}
.left button{
    border: none;
    padding: 25px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
}
.kucharze a {
    text-decoration: none;
}
.best {
    padding: 30px;
    display: flex;
    justify-content: center;
}
.b-left img{
    margin: 5px;
    height: 250px;
    /* float: left; */
}
.b-center img{
    margin: 5px;
    height: 250px;
    /* float: left; */
}
.b-right img{
    margin: 5px;
    height: 250px;
    /* float: left; */
}
.b-left button {
    background-color: #03C924;
    color: white;
    padding: 5px;
    border: black 1px solid;
    border-radius: 5px;
}
.b-center button  {
    background-color: #03C924;
    color: white;
    padding: 5px;
    border: black 1px solid;
    border-radius: 5px;
}
.b-right button  {
    background-color: #03C924;
    color: white;
    padding: 5px;
    border: black 1px solid;
    border-radius: 5px;
}
.b-left button:hover {
    box-shadow: black 0px 0px 2px;
    background-color: #03C924;
    color: white;
    padding: 8px;
    border: black 1px solid;
    border-radius: 5px;
}
.b-center button:hover  {
    box-shadow: black 0px 0px 2px;
    background-color: #03C924;
    color: white;
    padding: 8px;
    border: black 1px solid;
    border-radius: 5px;
}
.b-right button:hover  {
    box-shadow: black 0px 0px 2px;
    background-color: #03C924;
    color: white;
    padding: 8px;
    border: black 1px solid;
    border-radius: 5px;
}
.slider {
    text-align: center;
    padding-top: 25px;
    width: 100%;
}
.openh {
    height: 640px;
    background-image: url(./img/gda.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    /* margin-left: auto;
    margin-right: auto; */
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    color: white;
    width: 500px;
    height: 320px;
    background-color: rgba(124, 39, 39, 85%);
}
.textbox {
    margin-top: 120px;
}
/* -----FOOTER------ */
footer {
width: 100%;
}
.footertext {
    padding-top: 2px;
  text-align: center;
}
footer h3 {
    display: flex;
    justify-content: center;
}
.newsletter {
display: flex;
justify-content: center;
}
form input {
    border-radius: 5px;
    padding: 15px;
    border: black 2px solid;
}
form button {
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    border: black 2px solid;
}