*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*-----NAVBAR----*/
header {
    position: fixed;
    justify-content: center;
    text-align: center;
    padding: 15px;
    display: flex;
    height: 10vh;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}
.h-img img{
    height: 8vh;
    
}
.navbar ul{
    list-style: none;
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
}
ul li{
    display: inline-block;
    padding: 10px;

}
li a{
    color: black;
    text-decoration: none;
}
/* --------Main-------- */
main {
padding-top: 140px;
background-image: url(../img/interior.avif);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
/* background-position: 0px 300px 0px; */
}
.kontakt {
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    text-shadow: 5px 0px 10px black;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.kontakt h2{
    padding-bottom: 5px;
}
.map {
    display: flex;
    justify-content: center;
}
.map iframe {
    border: 2px solid black;
}
/* -----FOOTER------ */
footer {
    width: 100%;
    }
    .footertext {
        padding-top: 2px;
      text-align: center;
    }
    footer h3 {
        display: flex;
        justify-content: center;
    }
    .newsletter {
    display: flex;
    justify-content: center;
    }
    form input {
        border-radius: 5px;
        padding: 15px;
        border: black 2px solid;
    }
    form button {
        border-radius: 5px;
        background-color: white;
        padding: 15px;
        border: black 2px solid;
    }