*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*-----NAVBAR----*/
header {
    position: fixed;
    justify-content: center;
    text-align: center;
    padding: 15px;
    display: flex;
    height: 10vh;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}
.h-img img{
    height: 8vh;
    
}
.navbar ul{
    list-style: none;
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
}
ul li{
    display: inline-block;
    padding: 10px;

}
li a{
    color: black;
    text-decoration: none;
}
/* ------MAIN------- */
main {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
}
.top button{
    padding: 10px;
    background-color: #03C924;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
}
.right img {
    width: 50%;
}
/* -----FOOTER------ */
footer {
    width: 100%;
    }
    .footertext {
        padding-top: 2px;
      text-align: center;
    }
    footer h3 {
        display: flex;
        justify-content: center;
    }
    .newsletter {
    display: flex;
    justify-content: center;
    }
    form input {
        border-radius: 5px;
        padding: 15px;
        border: black 2px solid;
    }
    form button {
        border-radius: 5px;
        background-color: white;
        padding: 15px;
        border: black 2px solid;
    }